include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.css
include *.csv
include *.html
include *.ico
include *.js
include *.md
include *.png
include *.py
include *.svg
include *.txt
recursive-include erpnextvn *.css
recursive-include erpnextvn *.csv
recursive-include erpnextvn *.html
recursive-include erpnextvn *.ico
recursive-include erpnextvn *.js
recursive-include erpnextvn *.json
recursive-include erpnextvn *.md
recursive-include erpnextvn *.png
recursive-include erpnextvn *.py
recursive-include erpnextvn *.svg
recursive-include erpnextvn *.txt
